<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- min top navigation -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Flask</a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('root.index') }}">Home</a></li>
                    <li><a href="#">About</a></li>
                    {% if session['user_id'] %}
                    <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('users.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- page content -->
    <div class="container">
        <!-- flashed messages section  -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <!-- content block -->
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>